[user]
	email = BluePhoenixCG@gmail.com
	name = Alex Quennelle
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = cache
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
