[submodule "/home/Alex/.config/zshPlugins/fzf-tab"]
	path = /home/Alex/.config/zshPlugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "/home/Alex/.config/nvim"]
	path = /home/Alex/.config/nvim
	url = git@github.com:AlexQuennelle/nvim.git
