[user]
	email = BluePhoenixCG@gmail.com
	name = Alex Quennelle
[core]
	editor = nvim
	pager = delta
[diff]
	colorMoved = blocks
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	syntax-theme = Rose-Pine
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential]
	helper = cache
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
