* {
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: Bold;
}
window#waybar {
  color: #e0def4;
  background: rgba(25, 23, 36, 0.85);
  border-radius: 10px;
  border: 2px solid #ebbcba;
  /*opacity: 0.85;*/
  /*border-image: linear-gradient(to right, #ebbcba, #ebbcba) 4;*/
}
#wireplumber,
#cpu,
#memory {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  /*border: 2px solid #fff;*/
}
#clock {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 8px;
}

#cpu.low {
  color: #9ccfd8;
}
#cpu.med {
  color: #f6c177;
}
#cpu.high {
  color: #eb6f92;
}

#wireplumber.low {
  color: #eb6f92;
}
#wireplumber.med {
  color: #f6c177;
}
#wireplumber.high {
  color: #9ccfd8;
}
#wireplumber.off,
#wireplumber.muted {
  color: #6e6a86;
}

#workspaces {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
#workspaces button {
  color: #e0def4;
  padding-right: 6px;
  border-radius: 8px;
}
#workspaces button:hover {
  background: #403d52;
}
