* {
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: Bold;
}
window#waybar {
  color: #e0def4;
  background: rgba(25, 23, 36, 0.85);
  border-radius: 10px;
  border: 2px solid #ebbcba;
  /*opacity: 0.85;*/
  /*border-image: linear-gradient(to right, #ebbcba, #ebbcba) 4;*/
}
#workspaces,
#pulseaudio,
#cpu,
#memory {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  /*border: 2px solid #fff;*/
}
#clock {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 8px;
}

#workspaces button {
  color: #ffffff;
}
#workspaces button:hover {
  background: #403d52;
}
